<div class="contact">
  <div class="logo-container_footer">
    <div>
      <div class="logo-container" routerLink="">
        <i class='bx bxs-bowling-ball'></i>
        <h2 class="logo-text">Boleroom!</h2>
      </div>
    </div>
    <p>Contáctanos en nuestras redes sociales</p>
    <div class="sc-info_contianer">
      <div class="sc-info">
        <div class="face-icon_contianer">
          <i class='bx bxl-facebook'></i>
        </div>
        <div class="ig-icon_contianer">
          <i class='bx bxl-instagram-alt'></i>
        </div>
        <div class="twitter-icon_container">
          <i class='bx bxl-twitter'></i>
        </div>
        <div class="tiktok-icon_contianer">
          <i class='bx bxl-tiktok'></i>
        </div>
      </div>
    </div>
  </div>
  <div class="email-phone_contianer">
    <p><span>Email:</span> boleroomOF@gmail.com</p>
      <p><span>Phone:</span> (+52) 1 777 156 98 41</p>
  </div>
</div>
<div class="img-contact_cotnainer">
  <!-- <img src="../../../assets/img/bowlingC.png" alt=""> -->
</div>
<footer class="ultimate-footer">
  <p> Boleroom 2022 &copy; Todos los derechos reservados </p>
</footer>
