<div class="home-container">


  <div class="top-home_container">

    <div class="img-top_contianer">
      <!-- <img src="../../../assets/img/Bowling1.png" alt="Bowling"> -->

      <div class="text-top">
        <h2>Boliche, Billar, Ping Pong, Futbolito y Más</h2>
        <p>
          ! Ven a Boleroom con tus amigos y diviertete con los juegos que tenemos para tí !
        </p>

        <p>Contamos con bar y restaurante</p>

        <!-- <p> Organizamos eventos para ocasiones especiales </p>s -->

      </div>

    </div>

  </div>

  <div class="games-cards_cotnianer">
    <div class="bowling-container">
      <h2>Boliche</h2>
      <p> Renta de zapatos: <span>$99</span> </p>
      <p>Mesa para 5 personas por 1 hora: <span>$499</span></p>
      <button routerLink="/prices" class="more-prices_button">Ver más precios</button>
    </div>
    <div class="billar-container">
      <h2>Billar</h2>
      <p> Mesa para 4 personas por 1 hora: <span>$200</span> </p>
      <button routerLink="/prices" class="more-prices_button">Ver más precios</button>

    </div>
    <div class="pingpong-container">
      <h2>PingPong</h2>
      <p> Renta de mesa: <span>$99</span> </p>
      <p>Mesa para 2 o 4 personas por 1 hora <span>$250</span></p>
      <button routerLink="/prices" class="more-prices_button">Ver más precios</button>

    </div>
    <div class="futbolito-container">
      <h2>Futbolito</h2>
      <p> Renta de mesa: <span>$99</span> </p>
      <button routerLink="/prices" class="more-prices_button">Ver más precios</button>

    </div>
  </div>


  <div class="bar-container">

    <div class="img-bar_container">
      <!-- <img src="../../../assets/img/bar1.png" alt="bar"> -->
    </div>

    <div class="bar-info">
      <h1>Bar</h1>
      <h2>¡En el bar tenemos las mejores bebidas para ti!</h2>
      <p>
        Acércate con nuestro bartendero para pedir tu bebida favorita. Tenemos coceteles, bebidas gaseosas, cerveza y
        más.
      </p>
      <div class="drinks-list">
        <ul>
          <li>Cerveza</li>
          <li>Piñada</li>
          <li>Piña Colada</li>
        </ul>
        <ul>
          <li>Whiskey</li>
          <li>Vodka</li>
          <li>Sake</li>
        </ul>
        <ul>
          <li>Tequila</li>
          <li>Ron</li>
          <li>Mezcal</li>
        </ul>
      </div>
    </div>


  </div>

  <div class="restaurant-container">
    <div class="restaurant-info">
      <h1>Restaurante</h1>
      <h2>Puedes probar los platillos de nuestro restaurante</h2>
      <p>Nuestro resaturante ofrece comida a la carta, además de contar con transmisiones de eventos especiales</p>
      <div class="food-list">
        <ul>
          <li>Hamburguesas</li>
          <li>Pizza</li>
          <li>Tacos al Pastor</li>
        </ul>
        <ul>
          <li>Tacos de Suadero</li>
          <li>Enchiladas Suizas</li>
          <li>Mole</li>
        </ul>
        <ul>
          <li>Pescado a la veracruzana</li>
          <li>Camarones a la diabla</li>
          <li>Y más</li>
        </ul>
      </div>
    </div>

    <div class="restaurant-img_container">
      <!-- <img src="../../../assets/img/restaurant1.png" alt="restaurant"> -->
    </div>
  </div>

  <div class="extra-info_contianer">

    <div class="horarios">
      <div class="contenedor-n">
        <h2>Horarios</h2>
        <p>Vísitanos de Lunes a Viernes en un horario de <span>4:00pm</span> a <span>8:00pm</span> Y Sábados de 2:00pm a
          9:00pm </p>
      </div>
      <div>
        <img src="../../../assets/img/calendario.png" alt="Calendar">
      </div>
    </div>

    <div class="eventos">
      <div class="contenedor-n">
        <h2>Eventos especiales</h2>
        <p>Ajenda eventos personalizados para cumpleaños, torneos entre amigos así como sorpresas y promociones para
          ellos</p>
      </div>
      <div>
        <img src="../../../assets/img/evento.png" alt="Event">
      </div>
    </div>

  </div>


  <div class="home-footer">

    <div class="logo-container_footer">
      <div>
        <div class="logo-container" routerLink="">
          <i class='bx bxs-bowling-ball'></i>
          <h2 class="logo-text">Boleroom!</h2>
        </div>
      </div>
      <p>Contáctanos en nuestras redes sociales</p>
      <div class="sc-info_contianer">
        <div class="sc-info">
          <div class="face-icon_contianer">
            <i class='bx bxl-facebook'></i>
          </div>
          <div class="ig-icon_contianer">
            <i class='bx bxl-instagram-alt'></i>
          </div>
          <div class="twitter-icon_container">
            <i class='bx bxl-twitter'></i>
          </div>
          <div class="tiktok-icon_contianer">
            <i class='bx bxl-tiktok'></i>
          </div>
        </div>
      </div>
    </div>

    <div class="second-footer_div">
      <div class="location-container">
        <iframe class="location"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60383.12645355286!2d-99.26321454456763!3d18.93381060393827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cddfb7b92fe959%3A0x970eb3ba5326d8a2!2sAlboa%20Cuernavaca!5e0!3m2!1ses!2smx!4v1648168439728!5m2!1ses!2smx"
          allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

  </div>

  <footer class="ultimate-footer">
    <p> Boleroom 2022 &copy; Todos los derechos reservados </p>
  </footer>

</div>
