@import "../../../styles.scss";

.Prices-contianer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  > div {
    width: 100%;
    display: flex;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    // flex-wrap: wrap;

    > div:first-child {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-left: 20px;

      h2 {
        font-family: Miganty1;
        font-size: 50px;
        color: $purple5;
        text-align: center;
        margin: 20px;
      }

      p {
        font-family: Dosis1;
        font-size: 20px;
        margin: 15px;
      }
    }

    > div:last-child {
      width: 40%;

      img {
        width: 100%;
        display: block;
        object-fit: cover;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .Prices-contianer {
    > div {
      width: 100%;
      flex-direction: column;
      align-items: center;

      > div {
        width: 100% !important ;
        align-items: center;
        margin: 0% !important ;

        h2 {
          font-size: 30px;
        }

        p {
          font-size: 18px;
        }

        img {
          width: 100%;
        }
      }
      div:last-child{
        height: 300px;
        margin: 0 auto;
        background-position: center;
      }
    }
  }
}

.prices-bowling_img{
  background: url(../../../assets/img/bowling-prices.png);
  background-repeat: no-repeat;
}

.prices-billar_img{
background: url(../../../assets/img/billar-prices.png);
  background-repeat: no-repeat;
}
.prices-pingpong_img{
background: url(../../../assets/img/pingpong-prices.png);
  background-repeat: no-repeat;
  background-position: center;
}
.prices-futbolito_img{
  background: url(../../../assets/img/futbolito-prices.png);
  background-repeat: no-repeat;
}
