

<div class="Prices-contianer">
  <div class="prices-bowling">

    <div class="prices-bowling_info">
      <h2>Precios del boliche</h2>
      <p>Renta de zapatos: $99</p>
  <p> Mesa para 5 personas por 1 hora: $499 </p>
  <p>Mesa pra 5 personas por tiempo diario ilimitado: $1200</p>
  <p>Mesa para 3 (mínimo): $379</p>
    </div>

    <div class="prices-bowling_img">
    </div>
  </div>

  <div class="prices-billar">

    <div class="prices-billar_info">
      <h2>Preicos del Billar</h2>
      <p>Renta de mesa para 4 personas por 1 hora: $200</p>
      <p>Renta de mesa para 4 personas por 4 hotas: $900</p>
      <p>Renta de mesa por tiempo diario ilimitado: $1000</p>

    </div>

    <div class="prices-billar_img">
    </div>

  </div>

  <div class="prices-pingpong">
    <div class="prices-pingpong_info">
      <h2>Precios del PingPong</h2>
      <p>Renta de mesa para 2 o 4 personas por 1 hora: $250</p>
      <p>Renta de mesa para 2 o 4 personas por 3 horas: $525</p>
      <p>Renta de mesa para 2 o 4 personas por tiempo diario ilimitado: $799</p>
    </div>

    <div class="prices-pingpong_img">
    </div>

  </div>

  <div class="prices-futbolito">
    <div class="prices-futbolito_info">
      <h2>Precios del Futbolito</h2>
      <p>Renta de juego por 1 hora: $99</p>
      <p>Renta de juego por tiempo diario ilimitado: $350</p>
    </div>

    <div class="prices-futbolito_img">
    </div>

  </div>



</div>


